services:
  dynamodb:
    image: amazon/dynamodb-local:2.6.1
    container_name: app-dynamodb
    hostname: app-dynamodb
    volumes:
      - app_dynamodb:/home/dynamodblocal
    working_dir: /home/dynamodblocal
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ."
    restart: unless-stopped
    networks:
      - db-network

  dynamodb_migrator:
    image: amazon/aws-cli:2.31.28
    container_name: app-dynamodb_migrator
    working_dir: /home/dynamodblocal
    entrypoint: ["/bin/sh", "-c"]
    command: 
      - |
        sleep 5
        aws dynamodb create-table --cli-input-json file://paste.json --endpoint-url http://app-dynamodb:8000
    volumes:
      - ./schema:/home/dynamodblocal
    environment:
      - AWS_ACCESS_KEY_ID=x
      - AWS_SECRET_ACCESS_KEY=y
      - AWS_DEFAULT_REGION=local
    depends_on:
      - dynamodb
    restart: on-failure
    networks:
      - db-network

volumes:
  app_dynamodb:
    driver: local

networks:
  db-network:
    driver: bridge

