[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"

[dev-packages]
pytest = "*"
aws-sam-cli = "*"
exceptiongroup = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest test/ -v"