[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exceptiongroup = "*"
tomli = "*"
asyncpg = "*"
python-dotenv = "*"
fastapi = "*"

[dev-packages]
black = "*"
pytest = "*"
